* {
    box-sizing: border-box;

}

body {
    margin: 0;
}

.nav {
    background-image: linear-gradient(to right, #0006b2 , #002441);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;

}

.site-title {
    font-size: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem;
}
.nav li.active {
    background-color: #3EB2FD;

}
.nav li:hover {
    color: #0006b2;
    background-color: #ffffff;

  

}

